@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

body {
  background-image: url("./nitk11.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  width: 100%;
  background-size: cover;
}
a {
  color: black !important;
}

.brand-logo,
h2 {
  font-family: "normal";
  font-weight: 500;
}

.mycard {
  margin-top: 30px;
  border: blanchedalmond;
  box-shadow: blue;
}
.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
  border: blanchedalmond;
  box-shadow: blue;
}

.nav-wrapper {
  z-index: 1000;
  background-color: white;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}
.input-field input[type="password"]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
}

.home-card {
  max-width: 550px;
  width: 35%;
  height: max-content;
  margin: 26px auto;
  border-style: ridge ridge ridge groove;
  border-width: 5px 5px 5px 8px;
  border-color: black black black rgb(170, 170, 170);
}
.collection-item {
  width: 100%;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}

.material-icons:hover {
  cursor: pointer;
}
